<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

    <nav th:fragment="navbar" class="main_nav">
            <a href="/">Home</a>
            <a href="/patients/register">Register</a>
            <a href="/medical-records/add">Add Medical Record</a>
        <a href="/medical-records">All Medical Records</a>
            <a href="/appointments/add">Add Doctor</a>
        <a href="/appointments">All Doctors</a>
    </nav>


<footer  th:fragment="footer">
    <div>
        <p>&copy; 2024 Test Website. All Rights Reserved.</p>
    </div>
</footer>
</body>
</html>
