<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{layouts/main :: navbar}"></div>
    <div class="main">
        <div class="content">
            <h2>Patient List</h2>
            <table class="styled-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.firstName}"></td>
                    <td th:text="${patient.lastName}"></td>
                    <td th:text="${patient.age}"></td>
                    <td th:text="${patient.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{layouts/main :: footer}"></div>
</div>
</body>
</html>
