<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="wrapper" >
        <div th:replace="~{layouts/main :: navbar}"></div>
        <div class="main">
            <div class="content">
                <form th:action="@{/register}"   th:object="${patient}" method="post">
                    <label for="firstName">Fist Name:</label>
                    <input type="text" id="firstName" th:field="*{firstName}" required />
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name is required</span>

                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" th:field="*{lastName}" required />
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name is required</span>

                    <label for="age">Age:</label>
                    <input type="number" id="age" th:field="*{age}" required />
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name is required</span>

                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" required />
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email is required</span>

                    <label>Пароль:</label>
                    <input type="password" th:field="*{password}" required>

                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <div th:replace="~{layouts/main :: footer}"></div>
    </div>
</div>
</body>
</html>
